<div class="container" style="padding-top: 150px;">
<div class="card" style="width: 18rem;">      
  <div class="card-body">
      <h5 class="card-title">comment: <%= data.comm_comment %></h5>
      <p class="card-text">userid: <%= data.comm_user %>.</p>
      <p class="card-text">restaurant id: <%= data.comm_restaurant %>.</p>
      <a href="/oldui/comments" class="btn btn-primary">Go Back</a>
  </div>
</div>
</div>
