<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- GOOGLE WEB FONT -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,300,300italic'
          rel='stylesheet' type='text/css'>


    <link href="http://localhost:3000/libs/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="http://localhost:3000/libs/layerslider/css/layerslider.css" rel="stylesheet">
    <link href="http://localhost:3000/libs/layerslider/skins/v5/skin.css" rel="stylesheet">
    <link href="http://localhost:3000/libs/slick/css/slick.css" rel="stylesheet">
    <link href="http://localhost:3000/libs/slick/css/slick-theme.css" rel="stylesheet">
    <link href="http://localhost:3000/css/base.css" rel="stylesheet">
    <link href="http://localhost:3000/css/site.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col--md-4 col-sm-4 col-xs-4">
                <a href="http://localhost:3000/" id="logo">
                    <img src="http://localhost:3000/img/logo.png" height="60" alt="" data-retina="true"
                         class="logo hidden-xs">
                    <img src="http://localhost:3000/img/logo.png" height="60" alt="" data-retina="true"
                         class="logo hidden-lg hidden-md hidden-sm" style="margin-left: 0">
                </a>
            </div>
            <nav class="col--md-8 col-sm-8 col-xs-8">
                <div class="main-menu main-menu-bar">
                    <ul>
                        <li><a href="http://localhost:3000/login" class="show-submenu">Iniciar sesion</a></li>
                    </ul>
                </div>
            </nav>

        </div>
    </div>
</header>
<div id="header-menu">
    <div class="main-menu header-menu">
        <div id="header_menu">
            <img src="http://localhost:3000/img/logo.png" height="60" alt="" data-retina="true">
        </div>
    </div>
</div>

<div class="container" style="padding-top: 150px;">
    <form  class="was-validated" action="/login/insert" method="POST">
        <div class="form-group">
            <label>User Email</label>
            <input type="text" class="form-control" name="user_email" required>
        </div>
        <div class="form-group">
            <label>Usr name</label>
            <input type="text" class="form-control" name="user_name" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="user_password" required>
        </div>
        <div class="form-group">
            <label>Repeat Password</label>
            <input type="password" class="form-control" name="user_password_repeat" required>
        </div>

        <button class="btn btn-primary" type="submit">Create new user</button>

    </form>
</div>

<footer>
    <div class="container">

    </div><!-- End row -->
    <div class="row">
        <div class="col-md-12">
            <div id="social_footer">
                <ul>
                    <li>
                        <a href="#"><i style="font-size: 19px;" class="fa fa-bookmark"></i></a>
                    </li>

                </ul>
                <p>© Node JS</p>
            </div>
        </div>
    </div><!-- End row -->
    </div><!-- End container -->
</footer>

<div class="layer"></div>


<script src="http://localhost:3000/js/jquery.js"></script>


<script src="http://localhost:3000/libs/layerslider/js/greensock.js"></script>
<script src="http://localhost:3000/libs/layerslider/js/layerslider.transitions.js"></script>
<script src="http://localhost:3000/libs/layerslider/js/layerslider.kreaturamedia.jquery.js"></script>
<script src="http://localhost:3000/libs/slick/js/slick.min.js"></script>
<script src="http://localhost:3000/js/common_scripts_min.js"></script>
<script src="http://localhost:3000/js/functions.js"></script>
<script src="http://localhost:3000/js/validate.js"></script>
<script src="http://localhost:3000/js/jquery.form.min.js"></script>


<script type="text/javascript">
    jQuery(document).ready(function () {


        $(document).ready(function () {
            'use strict';
            $('#layerslider').layerSlider({
                autoStart: true,
                responsive: true,
                responsiveUnder: 1280,
                layersContainer: 1170,
                navButtons: false,
                showCircleTimer: false,
                navStartStop: false,
                skinsPath: 'http://localhost:3000/libs/layerslider/skins/'
            });
        });

        $("#start1").click(function () {
            $("#quality").val("1");
        });
        $("#start2").click(function () {
            $("#quality").val("2");
        });
        $("#start3").click(function () {
            $("#quality").val("3");
        });
        $("#start4").click(function () {
            $("#quality").val("4");
        });
        $("#start5").click(function () {
            $("#quality").val("5");
        });

        $("#car-rest").slick({
            dots: false,
            infinite: true,
            speed: 300,
            autoplay: true,
            autoplaySpeed: 4000,
            slidesToShow: 5,
            slidesToScroll: 1,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 4,
                        slidesToScroll: 1,
                        infinite: true,
                        dots: false
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
        });


        $("#car-cats").slick({
            centerMode: true,
            dots: false,
            infinite: true,
            speed: 300,
            autoplay: true,
            autoplaySpeed: 4000,
            slidesToShow: 4,
            slidesToScroll: 1,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 4,
                        slidesToScroll: 1,
                        infinite: true,
                        dots: false
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
        });
    });</script>
</body>
</html>
