<div class="container" style="padding-top: 150px;">
<form  class="was-validated" action="/users" method="POST">
    <label  >Nombre</label>
  
        <input class="form-control" name="user_name" id="user_name" type="input" />

        <label  >Email</label>
        <input class="form-control" name="user_email" id="user_email" type="input" />
      
          
            <button class="btn btn-primary" type="submit">Save</button>
        
          
</form>
</div>
