<div class="container" style="padding-top: 150px;">
<div class="card" style="width: 18rem;">      
  <div class="card-body">
      <h5 class="card-title"><%= data.user_name %></h5>
      <p class="card-text"><%= data.user_email %>.</p>
      <a href="/oldui/users" class="btn btn-primary">Go Back</a>
  </div>
</div>
</div>
